.app {
	margin: auto;
	padding: 10px;
	width: 30%;
	max-width: 30%;
	margin-top: 100px;
	text-align: center;
	border: 2px solid blue;
}

.addBox,
.taskText {
	margin-right: 2px;
}

.taskContainer {
	width: fit-content;
	max-width: 100%;
	/* border: 2px solid red; */
	text-align: left;
	overflow-wrap: break-word;
	word-break: break-word;
	overflow-y: auto;
	max-height: 300px;
}
